*
{
	box-sizing: border-box;
}

body
{
	font-family: 'Roboto';
}

a
{
	text-decoration: none;
	display: inline-block;
}

ul
{
	list-style: none;
}

header
{
	padding: 15px 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: red;
	width: 100%;
}

header .container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container .logo
{
	width: 100px;
}

header .container nav a
{
	color: white;
	font-size: 15px;
	margin: 0 15px;
}

header .container nav a:hover
{
	color: #17202A;
}

header .container .bars-menu
{
	display: none;
	position: relative;
}

footer
{
	background-color: #17202A;
	color: white;
	padding-top: 40px;
}

footer .barra-footer
{
	background-color: grey;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

footer .logo-footer
{
	width: 115px;
}

footer ul
{
	padding-left: 0;
	margin: 0;
}

.redes
{
	font-size: 28px;
	display: flex;
}

.redes a
{
	margin: 0 7.5px;
}

footer ul li
{
	margin-bottom: 15px;
}

footer p
{
	margin-bottom: 30px;
}

footer a
{
	color: white;
}

footer .columna.columna-25
{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}

footer .columna.columna-50
{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	margin-bottom: 20px;
}

.container
{
	/* posible responsive*/
	width: 100%;
	margin: 0 auto 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.container-fluid
{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.boton
{
	text-align: center;
	padding: 15px 20px;
}

.boton.boton-verde
{
	background-color: #6cff44c1;
	color: black;
	font-size: 16px;
	font-weight: bold;
}

.boton.boton-verde:hover
{
	background-color: white;
	color: #219f0d;
}

.boton.boton-negro
{
	background-color: white;
	color: #17202A;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #17202A;
}

.boton.boton-negro:hover
{
	background-color: #17202A;
	color: white;
}

.section
{
	padding-top: 60px;
	padding-bottom: 60px;
}

.icon-redsocial
{
	width: 80px;
}

.cuadrado-perfecto
{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}

.cuadrado-perfecto img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	justify-content: center;
  	align-items: center;
}

.columna
{
	padding-left: 2%;
	padding-right: 2%;
}

.columna-14
{
	width: 14%;
}

.columna-24
{
	width: 24%;
}

.columna-25
{
	width: 25%;
}

.columna-33
{
	width: 33.33%;
}

.columna-50
{
	width: 50%;
}

.columna-100
{
	width: 100%;
}

#inicio
{
	position: relative;
}

#inicio img
{
	width: 100%;
	display: block;
}

#inicio .bloque-inicio
{
	position: absolute;
	top: 20%;
	left: 40%;
	width: 80%;
	/* opcional */
	text-align: center;
	margin-left: -30%;
}

#inicio .bloque-presentacion-temas
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0%;
}

#inicio .bloque-presentacion-temas .box.cont
{
	width: 100%;
	margin: 10px;
	background-color: white;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #17202A;
	margin-bottom:0.05em;
	color: white;
	margin-top: -1.5%;
	margin-bottom: -1.5%;
}

#inicio .invitacion
{
	font-size: 20px;
}

#inicio .bloque-presentacion-temas .box.plus
{
	width: 100%;
	margin: 10px;
	font-size: 1em;
	margin-bottom:0.05em;
}

#inicio .bloque-inicio  h2
{
	font-size: 3em;
	text-align: center;
	color: white;
	margin-bottom:0.4em;
}

#inicio .direct-whats
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#inicio .direct-whats a
{
	/* 100 min - 900 max*/
	font-weight: 450;
}

#inicio .boton.boton-verde
{
	padding: 20px;
	padding-right: 20px;
	border-radius: 50px;
}

#inicio .bloque-presentacion-temas p
{
	font-size: 1.1em;
	text-align: center;
}

#inicio .bloque-presentacion-temas .columna.columna-24
{
	background-color: red;
}

#temas .bloque-intro-tema
{
	display: flex;
	margin-left: 0.05%;
	margin-right: 0.05%;
}

#temas .bloque-intro-tema .bloque-temas
{
	border: 1px solid grey;
}

#temas .bloque-intro-tema .box.cont
{
	width: 100%;
	margin: 10px;
	border-radius: 10px;
}

#temas .bloque-intro-tema .box.cont .bloque-temas .bloque-img-temas img
{
	width: 100%;
}

#temas .bloque-intro-tema .box.cont .bloque-temas .bloque-img-temas.cuadrado-perfecto
{
	padding-bottom: 55%; 
}

#temas .bloque-intro-tema .box.cont .bloque-temas .bloque-contenido-temas
{
	padding: 6%;
}

#temas .bloque-intro-tema .box.cont .bloque-temas .bloque-contenido-temas h3
{
	margin-top: 0;
	margin-bottom: 0.4em; /* Adjust as needed */
	font-size: 2em;
	line-height:1;
}

#temas .bloque-intro-tema .box.cont .bloque-temas .bloque-contenido-temas p
{
	margin-top: 0;
	font-size: 0.9em;
	line-height:1;
}

#contacto
{
	text-align: justify-all;
}

#contacto img
{
	top: 0;
	left: 0;
	height: 100%;
}

#contacto .bloque-info-contacto
{
	border: 1px solid grey;
	padding: 5%;
}

#contacto .bloque-info-contacto a
{
	color: #FF3131;
	font-size: 35px;
}

#contacto .bloque-info-contacto h1
{
	margin-top: 0;
	font-size: 2em;
	margin-bottom: 0.4em;
}

#contacto .bloque-info-contacto p
{
	line-height: 1.1em;
	margin-top: 0;
	font-size: 0.9em;
}

#contacto .bloque-info-contacto ul
{
	padding-left: 0;
	margin: 0;
}

#galeria h4
{
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	position: absolute;
	top: 40%;
	color: black;
	font-size: 0.75em;
	width: 100%;
	opacity: 1;
	transition: all 0.3s ease;
	transform: translate(-50%, -50%);
	top: 40%;
    left: 50%;
}

#galeria img
{
	filter: grayscale(1);
	opacity: 0.3;
	transition: all 0.3s ease;
}

#galeria .cuadrado-perfecto:hover img
{
	filter: grayscale(0);
	opacity: 1;
}

#galeria .cuadrado-perfecto:hover h4
{
	display: none;
}

#misionvision .bloque-misvis
{
	border: 1px solid grey;
	padding: 15px;
}

#misionvision .bloque-misvis h1
{
	margin-top: 0;
	font-size: 25px;
}

@media(max-width: 767px)
{
	body
	{
		font-size: 15px;
	}

	header .container nav
	{
		position: fixed;
		width: 100%;
		height: 50%;
		background-color: red;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 15px;
		padding-right: 15px;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		transition: all 0.4s ease;
		transform: translateX(100%);
	}

	header .container nav.open
	{
		transform: translateX(0);
	}

	header .container nav a
	{
		font-size: 30px;
		margin: 15px 0;
	}

	header .container .bars-menu
	{
		display: block;
		font-size: 30px;
		color: #17202A;
		position: relative;
	}

	footer
	{
		text-align: center;
	}

	footer .logo-footer
	{
		width: 25%;
	}

	footer .columna.columna-25
	{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	footer .columna.columna-50
	{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.container
	{
		width: 100%;
	}

	.columna-mobile-100
	{
		width: 100%;
	}

	.columna-mobile-50
	{
		width: 50%;
	}

	.redes
	{
		justify-content: center;
	}

	.boton.boton-negro
	{
		background-color: white;
		color: #17202A;
		font-size: 16px;
		font-weight: bold;
		border: 1px solid #17202A;
	}

	.boton.boton-negro:hover
	{
		background-color: #17202A;
		color: white;
	}

	#inicio
	{
		height: 100vh;
	}

	#inicio img
	{
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	#temas .bloque-temas
	{
		margin-bottom: 15px;
	}

	#misionvision .bloque-misvis
	{
		margin-bottom: 15px;
	}

	#inicio .bloque-presentacion-temas
	{
		flex-wrap: wrap;
	}

	#inicio .invitacion
	{
		font-size: 1.4em;
	}

	#inicio .bloque-inicio  h2
	{
		font-size: 2.3em;
	}

	#inicio .bloque-presentacion-temas p
	{
		font-size: 1.3em;
	}

	#temas .bloque-intro-tema
	{
		flex-wrap: wrap;
	}
}